@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Playfair+Display:ital,wght@1,400;1,500&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

/* === BODY === */

.header {
    height: 100vh;
    margin: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1{
    font-size: 18rem;
    position: relative;
    top: -3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: rgba(17, 17, 17, 1);
    opacity: 80%;
    z-index: 2;
}

.header-a{
    animation: fadeIn 5s 5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.header-b{
    animation: fadeIn 5s 6s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.header-c{
    animation: fadeIn 5s 7s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.header-d{
    animation: fadeIn 5s 8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.header h2{
    font-size: 2rem;
    position: relative;
    top: -3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
    font-style: italic;
    opacity: 80%;
    z-index: 2;
}

.intro{
    font-size: 1.7rem;
    margin: 5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.grid-view{
    display: grid;
}

.a-template{
    grid-template-columns: 1fr 1fr;
}

.b-template{
    grid-template-columns: 1fr 1fr;
}

.c-template{
    display: none;
}

.a-template .text{
    font-size: 1.4rem;
    margin: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

.b-template .text{
    font-size: 1.4rem;
    margin: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

.c-template .text{
    font-size: 1.4rem;
    margin: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

.image{
    background-size: cover !important;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image p{
    font-size: 1.7rem;
    margin: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.one .image{
    background: url("image_one.jpg") no-repeat;
}

.one .image p{
    color: white;
}

.two .image{
    background: url("image_two.jpg") no-repeat;
}

.two .image p{
    color: white;
}

.three .image{
    background: url("image_three.jpg") no-repeat;
}

.three .image p{
    color: white;
}

.four .image{
  background: url("image_four.jpg") no-repeat;
}

.four .image p{
    color: white;
}

.five .image{
    background: url("image_five.jpg") no-repeat;
    background-position: center 70%;
}

.five .image p{
    color: white;
}

.six .image{
    background: url("image_six.jpg") no-repeat;
    background-position: center 20%;
}

.six .image p{
    color: white;
}

.seven .image{
    background: url("image_seven.jpg") no-repeat;
    background-position: center 90%;
}

.seven .image p{
    color: white;
}

.footer-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background: #1f1f1f;
}

.footer-copyright p{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

/* === LOADER === */

.load-section{
    opacity: 0;
}

.parallax-mirror{
    opacity: 0;
}

.loader{
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
}

.loader.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

svg{
    height: 35rem;
    position: relative;
    overflow: visible;
}

path{
    color: white;
}

/* === ANIMATION === */

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* === OTHERS === */

@media only screen and (max-width: 768px){
    body, html{
        font-size: 90%;
    }
    .header h1{
        font-size: 15rem;
    }
    .a-template{
        grid-template-columns: 1fr;
    }
    .b-template{
        display: none;
    }
    .c-template {
        display: block;
        grid-template-columns: 1fr;
    }
    .image p{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 576px){
    body, html{
        font-size: 80%;
    }
    .header h1{
        font-size: 10rem;
    }
    .header h2{
        display: none;
    }
}



